@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme {
  /* ── CORES PRINCIPAIS ── */
  --color-primary:       #CC0000;
  --color-primary-hover: #AA0000;
  --color-primary-active:#880000;

  --color-bg:            #111111;
  --color-bg-sidebar:    #0D0D0D;
  --color-bg-card:       #161616;
  --color-bg-panel:      #2E0101;

  /* ── TEXTO ── */
  --color-text:          #F5F5F5;
  --color-text-muted:    #888888;
  --color-text-hint:     #555555;

  /* ── BORDAS ── */
  --color-border:        #1E1E1E;
  --color-border-input:  #333333;
  --color-border-focus:  #CC0000;

  /* ── STATUS ── */
  --color-success:       #1DB954;
  --color-success-bg:    #0D2E1A;
  --color-warning:       #F5A623;
  --color-warning-bg:    #2E1F00;
  --color-danger:        #CC0000;
  --color-danger-bg:     #2E0000;
  --color-info:          #2D9CDB;
  --color-info-bg:       #001A2E;
}

/* Estilos referente a elementos do Paginator Component (Primevue)*/
.p-paginator-page {
    @apply rounded-none text-sm;
}

.p-paginator-page.p-paginator-page-selected {
    @apply bg-primary text-white font-semibold;
}

/* Estilos referente a elementos do Input Component (Primevue)*/

.p-inputtext {
  @apply border-b border-y-0 border-x-0 border-text-muted rounded-none;
}

.p-inputtext:enabled:focus {
  @apply border-primary bg-transparent;
}

.p-inputtext.p-variant-filled{
  @apply bg-transparent;
}

/* Estilos referente a elementos do Button Component (Primevue)*/
.p-button{
  @apply bg-transparent text-text-muted font-bold border-none rounded-none outline-none w-full;
}

.p-button:not(:disabled):active {
  @apply bg-transparent border-b-primary border-x-0 border-t-0 text-text outline-none;
}

.p-button:not(:disabled):not(:active):hover {
  @apply bg-transparent text-text border-b-primary border-x-0 border-t-0;
}

.p-button:focus-visible {
  @apply outline-none;
}

/* Estilos referente a elementos do Dialog (modal) Component (Primevue)*/
.p-dialog{
  @apply border-t-primary border-t-4 border-x-0 border-b-0 rounded-none;
}

/* Estilos referente a elementos do Select Component (Primevue)*/
.p-select{
  @apply border-b-text-muted border-t-0 border-x-0 rounded-none bg-transparent;
}

.p-select:not(.p-disabled).p-focus {
  @apply border-primary;
}

.p-select-option.p-select-option-selected {
  @apply bg-bg-panel text-text font-bold;
}

.p-select-option.p-select-option-selected.p-focus {
  @apply bg-bg-panel text-text font-bold;
}