# Variáveis de ambiente para o serviço POSTGRESQL
# Inserir as credenciais no seu .env local para conectar ao banco de dados
# ANTES de rodar o Docker Compose

DB_DATABASE=drs_erp
DB_USERNAME=drs_admin
DB_PASSWORD=password1234

FRONTEND_PORT=3000
BACKEND_PORT=8000